html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: whitesmoke;
  text-align: center;
  font-size: medium;
  font-style: initial;
  font-weight: 400;
  text-indent: 1cm;
  text-transform: none;
}

header {
  color: slateblue;
}

h2 {
  color: teal;
}


footer {
  color: #333;
}

footer a {
  display: inline-block;
  padding: .5rem 1rem;
  color: #fff;
  background-color: #366;
  border-radius: .25rem;
  font-weight: 700;
  text-decoration: none;
  transform: scale(1);
}
